{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

<div class="container">
  <form class="form" method="post" action="{{ url_for('auth.login') }}">
    <span class="title">Sign&nbsp;In</span>

    <div class="form_control">
      <input name="username" class="input" required>
      <label class="label">Username</label>
    </div>

    <div class="form_control">
      <input name="password" type="password" class="input" required>
      <label class="label">Password</label>
    </div>

    <button type="submit">Login</button>

    <span class="bottom_text">
      Don’t have an account? 
      <a href="{{ url_for('auth.register') }}" class="switch">Sign Up</a>
    </span>
  </form>
</div>
{% endblock %}
